name: Go-build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    name: Go-build on  ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22

    - name: Go-build
      run: |
          go mod tidy
          go fmt
          go build -x -v
      
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      if: ${{ matrix.os  == 'windows-latest' }}
      with:
        name: server-${{ matrix.os }}
        path: server.exe
        
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      if: ${{ matrix.os != 'windows-latest' }}
      with:
        name: server-${{ matrix.os }}
        path: server
